*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  font-family: "Lato", sans-serif;
  font-weight: 400;

  --gray-800: #424551;
  --gray-900: rgba(30, 33, 44, 1);
  --gray-700: rgba(120, 122, 128, 1);
  --gray-600: rgba(154, 156, 165, 1);
  --gray-400: rgba(215, 218, 221, 1);
  --gray-300: rgba(229, 232, 237, 1);
  --gray-200: rgba(244, 245, 246, 1);
  --white-color: white;
  --primary-color: rgba(255, 63, 58, 1);
  --danger-color: rgba(255, 66, 66, 1);
  --secondary-color: rgba(255, 207, 45, 1);
  --text-color-gradient: #f75e05;
  --text-color-danger: rgba(255, 66, 66, 1);
  --badge-success: rgba(3, 206, 164, 1);
  --badge-warning: rgba(248, 152, 40, 1);
  --badge-info: rgba(90, 135, 252, 1);
  --badge-danger: rgba(245, 47, 110, 1);
  --btn-gradient: linear-gradient(90deg, #ff3f3a 0%, #f75e05 100%);
}

.container {
  max-width: 1260px;
  padding: 0 15px;
  margin: auto;
}

.font-small-regular {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0;
}

.font-small-bold {
  font-weight: bold;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0;
}

.font-base-regular {
  font-weight: normal;
  font-size: 16px;
  line-height: 160%;
  letter-spacing: 0;
}

.font-base-bold {
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  letter-spacing: 0;
}

.font-large-regular {
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0;
}

.font-large-bold {
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0;
}

.font-display-2 {
  font-weight: 900;
  font-size: 64px;
  line-height: 130%;
  letter-spacing: 1px;
}

.font-extrasmall-regular {
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  letter-spacing: 0;
}

.font-extrasmall-bold {
  font-weight: 900;
  font-size: 10px;
  line-height: 150%;
  letter-spacing: 0;
}

.h1 {
  font-weight: 900;
  font-size: 46px;
  line-height: 130%;
  letter-spacing: 0;
}

.h6 {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 1px;
}

.h2 {
  font-weight: 900;
  font-size: 32px;
  line-height: 130%;
  letter-spacing: 0%;
}

.h2 {
  font-weight: 700;
  font-size: 28px;
  line-height: 150%;
  letter-spacing: 0%;
}

.lead-bold {
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0;
}
.lead-regular {
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0;
}

.header-nav__menu-items {
  color: var(--gray-800);
}

.display-4 {
  font-weight: 900;
  font-size: 48px;
  line-height: 130%;
  letter-spacing: 1px;
}

img {
  width: 100%;
  display: block;
}
