<section class="course-discount">
  <div class="container">
    <div class="course-discount__wrapper">
      <div class="course-discount__top">
        <h2 class="course-discount__sale h2">20% discount for early birds!</h2>
        <div class="course-discount__timer">
          <div class="course-discount__timer-item">
            <span class="course-discount__timer-value h5">06</span>
            <span class="course-discount__timer-label font-extrasmall-regular"
              >Days</span
            >
          </div>
          <div class="course-discount__timer-item">
            <span class="course-discount__timer-value h5">18</span>
            <span class="course-discount__timer-label font-extrasmall-regular"
              >Hours</span
            >
          </div>
          <div class="course-discount__timer-item">
            <span class="course-discount__timer-value h5">24</span>
            <span class="course-discount__timer-label font-extrasmall-regular"
              >Mins</span
            >
          </div>
          <div class="course-discount__timer-item">
            <span class="course-discount__timer-value h5">12</span>
            <span class="course-discount__timer-label font-extrasmall-regular"
              >Sec</span
            >
          </div>
        </div>
      </div>
      <form class="course-discount__form">
        <div class="course-discount__form-group">
          <label
            class="course-discount__label font-small-regular"
            for="full-name"
            >Full name</label
          >
          <input
            class="course-discount__input"
            type="text"
            id="full-name"
            placeholder="Your full name"
          />
        </div>

        <div class="course-discount__form-group">
          <label class="course-discount__label font-small-regular" for="email"
            >Email</label
          >
          <input
            class="course-discount__input"
            type="email"
            id="email"
            placeholder="Your working email"
          />
        </div>

        <div class="course-discount__form-group">
          <label class="course-discount__label font-small-regular" for="phone"
            >Phone</label
          >
          <input
            class="course-discount__input"
            type="tel"
            id="phone"
            placeholder="Your phone number"
          />
        </div>

        <button
          class="course-discount__btn btn btn--primary btn-solid-regular"
          type="submit"
        >
          Join the course
        </button>
      </form>
    </div>
  </div>
</section>
