<section class="course-steps">
  <div class="container">
    <h4 class="course-steps__subtitle h6">Main steps</h4>
    <h2 class="course-steps__title h1">Online learning process</h2>
    <ul class="course-steps__list">
      <li class="course-steps__item">
        <div class="course-steps__item-number">
          <span class="course-steps__item-number-text h1">01</span>
          <span class="course-steps__item-number-line"></span>
        </div>
        <p class="course-steps__item-title lead-bold">
          Watching online video lectures
        </p>
        <p class="course-steps__item-text font-base-regular">
          Culpa nostrud commodo ea consequat aliquip reprehenderit. Veniam velit
          nostrud aliquip sunt.
        </p>
      </li>
      <li class="course-steps__item">
        <div class="course-steps__item-number">
          <span class="course-steps__item-number-text h1">02</span>
          <span class="course-steps__item-number-line"></span>
        </div>
        <div class="course-steps__item-title lead-bold">Passing test</div>
        <p class="course-steps__item-text font-base-regular">
          Anim reprehenderit sint voluptate exercitation adipisicing laborum
          adipisicing. Minim ad tempor est ea.
        </p>
      </li>
      <li class="course-steps__item">
        <div class="course-steps__item-number">
          <span class="course-steps__item-number-text h1">03</span>
          <span class="course-steps__item-number-line"></span>
        </div>
        <p class="course-steps__item-title lead-bold">Curator’s feedback</p>
        <p class="course-steps__item-text font-base-regular">
          Adipisicing esse aliqua aliquip qui amet. Aute eiusmod dolore dolore
          et ad et veniam ad deserunt.
        </p>
      </li>
      <li class="course-steps__item">
        <div class="course-steps__item-number">
          <span class="course-steps__item-number-text h1">04</span>
          <span class="course-steps__item-number-line"></span>
        </div>
        <p class="course-steps__item-title lead-bold">Corrections if needed</p>
        <p class="course-steps__item-text font-base-regular">
          Sit veniam aute dolore adipisicing nulla sit culpa. Minim mollit
          voluptate ullamco proident ea ad.
        </p>
      </li>
    </ul>
  </div>
</section>
