@import "./events.list-view.partial.css";
@import "./events.grid-view.partial.css";

.events-view {
  padding-block: 152px 180px;
}

.events-view__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.events-view__subtitle {
  margin-bottom: 8px;
}

.events-view__title {
  margin-bottom: 60px;
}

.events-view__toolbar {
  display: inline-flex;
  justify-content: space-between;
  column-gap: 40px;
  width: 100%;
  padding-bottom: 60px;
}

.events-view__toolbar-list {
  display: flex;
  column-gap: 40px;
}

.events-view__toolbar-item {
  display: flex;
  align-items: center;
  column-gap: 12px;
  height: 44px;
}

.events-view__toolbar-categories {
  width: 280px;
}

.events-view__toolbar-sorting {
  width: 223px;
}

.events-view__toolbar-pagers {
  width: 233px;
}

.events-view__toolbar-text {
  text-wrap: nowrap;
}

.events-view__toolbar-input {
  width: 280px;
  height: 44px;
  border: 1px solid var(--gray-400);
  background-color: transparent;
  background-image: url("../../img/events/search.svg");
  background-position: 250px 14px;
  padding: 10px 40px 10px 16px;
  background-repeat: no-repeat;
}

.events-view__toolbar-toogles {
  display: flex;
  column-gap: 12px;
}

.events-view__toolbar-category,
.events-view__toolbar-sort {
  position: relative;
  border: 1px solid var(--gray-400);
  border-radius: 4px;
  width: 158px;
  height: 42px;
  background-color: white;
  padding-left: 16px;
  background-image: url("../../img/events/arrow-drop-down.svg");
  background-size: 40px;
  background-repeat: no-repeat;
  background-position: 120px;
}

.events-view__toolbar-pager {
  width: 72px;
  height: 44px;
  border: 1px solid var(--gray-400);
  border-radius: 4px;
  padding-inline: 16px;
}

.events-view__toolbar-toogle svg path {
  fill: var(--gray-800);
}

.events-view__toolbar-toogle:hover svg path {
  fill: var(--primary-color);
}

.events-view-paginations {
  display: flex;
  justify-content: center;
}

.paginations__list {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.paginations__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
}

.paginations__item:hover,
.paginations__link:hover svg path {
  color: var(--primary-color);
}

.events-view__toggle--active svg path {
  fill: var(--primary-color);
}
