.course__header-hero {
  background: linear-gradient(
    90deg,
    rgba(255, 63, 58, 0.2) 0%,
    rgba(247, 94, 5, 0.2) 100%
  );
}

.course__header-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px 0;
    padding: 192px 105px 120px 105px;
}

.course__header-hero-title {
    color: var(--primary-color);
    text-transform: uppercase;
}

.course__header-hero-text {
    color: var(--gray-900);
    text-align: center;
}