.events {
  background: linear-gradient(
    90deg,
    rgba(255, 63, 58, 0.2) 0%,
    rgba(247, 94, 5, 0.2) 100%
  );
}
.events__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 0;
}
.events__header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.events__subtitle {
  margin-bottom: 8px;
}

.events__title {
  margin-bottom: 60px;
}

.events__list {
  display: flex;
  flex-direction: column;
  gap: 24px 0;
  margin-bottom: 60px;
}

.event-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  gap: 0 40px;
  border-radius: 4px;
  background-color: var(--white-color);
}

.event-card:hover {
  box-shadow: 0 4px 4px -4px rgba(30, 33, 44, 0.05),
    0 12px 10px -6px rgba(255, 63, 58, 0.05),
    0 30px 24px -10px rgba(255, 63, 58, 0.1),
    0 80px 80px -20px rgba(255, 63, 58, 0.1);
}

.event-card__date {
  display: flex;
  align-items: center;
  gap: 0 20px;
  margin: 32px 0;
}

.event-card__day {
  color: var(--primary-color);
}

.event-card__day-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0 4px;
}

.event-card__time {
  color: var(--gray-700);
  text-wrap: nowrap;
}

.event-card__content {
  margin: 32px 0 34px 0;
  width: 757px;
}

.event-card__title {
  margin-bottom: 4px;
  color: var(--gray-900);
}

.events__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 40px;
}
