.subscribe {
  background: linear-gradient(
    90deg,
    rgba(255, 63, 58, 0.2) 0%,
    rgba(247, 94, 5, 0.2) 100%
  );
}

.subscribe__inner {
  padding: 120px 211px 180px;
  display: flex;
  flex-direction: column;
  gap: 60px;
  align-items: center;
  text-align: center;
  position: relative;
}

.subscribe__text {
  display: inline-flex;
  flex-direction: column;
  gap: 8px 0;
}

.subscribe__form {
  display: flex;
  justify-content: center;
  gap: 0 24px;
}

.subscribe__form-email {
  width: 422px;
  height: 52px;
  padding: 13px 16px;
  border: 1px solid var(--gray-400);
  border-radius: 4px;
}

.subscribe__img-right {
  position: absolute;
  bottom: -2px;
  right: -125px;
}

.subscribe__img-left {
  position: absolute;
  bottom: -2px;
  left: -125px;
}
