.testimonials {
  background-color: var(--gray-200);
  padding: 80px 0 100px 0;
}

.testimonials__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 60px;
}

.testimonials__subtitle {
  margin-bottom: 8px;
}

.testimonials__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;
  gap: 57px;
}

.testimonials__slider-wrapper {
  padding: 64px 105px;
  width: 1020px;
  background-color: white;
  box-shadow: 0px 4px 4px -4px rgba(30, 33, 44, 0.08),
    0px 12px 10px -6px rgba(154, 156, 165, 0.08),
    0px 30px 24px -10px rgba(154, 156, 165, 0.08),
    0px 80px 80px -20px rgba(154, 156, 165, 0.08);
}

.testimoinals__slider-container {
  overflow: hidden;
}

.testimoinals__slider-track {
  display: flex;
}

.testimoinals__slider-item {
  display: flex;
  height: 216px;
}

.testimonials__description {
  display: flex;
  flex-direction: column;
}

.testimonials__quote-icon {
  padding-right: 30px;
}

.testimonials__text {
  padding-bottom: 24px;
  color: var(--gray-800);
}

.testimonials__author {
  width: 243px;
  height: 72px;
  display: flex;
  align-items: center;
}

.testimonials__author-photo {
  width: 72px;
  height: 72px;
  margin-right: 20px;
}

.testimonials__author-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px 0;
}

.testimonials__author-name {
  color: var(--gray-900);
}

.testimonials__author-position {
  color: var(--gray-700);
}
