<ul class="events-grid-view__list">
  <li class="events-grid-view__item">
    <div class="events-grid-view__date">
      <span class="events-grid-view__value h3">05 August</span>
      <span class="events-grid-view__hours font-base-regular"
        >11:00 – 14:00</span
      >
    </div>
    <span class="events-grid-view__title font-large-bold"
      >Formation of the organizational structure of the company in the face of
      uncertainty.</span
    >
    <span class="events-grid-view__place font-base-regular"
      >Onine master-class</span
    >
    <a href="#" class="events-grid-view__link btn-outline-regular">View more</a>
  </li>
  <li class="events-grid-view__item">
    <div class="events-grid-view__date">
      <span class="events-grid-view__value h3">05 August</span>
      <span class="events-grid-view__hours font-base-regular"
        >11:00 – 14:00</span
      >
    </div>
    <span class="events-grid-view__title font-large-bold"
      >Formation of the organizational structure of the company in the face of
      uncertainty.</span
    >
    <span class="events-grid-view__place font-base-regular"
      >Onine master-class</span
    >
    <a href="#" class="events-grid-view__link btn-outline-regular">View more</a>
  </li>
  <li class="events-grid-view__item">
    <div class="events-grid-view__date">
      <span class="events-grid-view__value h3">05 August</span>
      <span class="events-grid-view__hours font-base-regular"
        >11:00 – 14:00</span
      >
    </div>
    <span class="events-grid-view__title font-large-bold"
      >Formation of the organizational structure of the company in the face of
      uncertainty.</span
    >
    <span class="events-grid-view__place font-base-regular"
      >Onine master-class</span
    >
    <a href="#" class="events-grid-view__link btn-outline-regular">View more</a>
  </li>
  <li class="events-grid-view__item">
    <div class="events-grid-view__date">
      <span class="events-grid-view__value h3">05 August</span>
      <span class="events-grid-view__hours font-base-regular"
        >11:00 – 14:00</span
      >
    </div>
    <span class="events-grid-view__title font-large-bold"
      >Formation of the organizational structure of the company in the face of
      uncertainty.</span
    >
    <span class="events-grid-view__place font-base-regular"
      >Onine master-class</span
    >
    <a href="#" class="events-grid-view__link btn-outline-regular">View more</a>
  </li>
  <li class="events-grid-view__item">
    <div class="events-grid-view__date">
      <span class="events-grid-view__value h3">05 August</span>
      <span class="events-grid-view__hours font-base-regular"
        >11:00 – 14:00</span
      >
    </div>
    <span class="events-grid-view__title font-large-bold"
      >Formation of the organizational structure of the company in the face of
      uncertainty.</span
    >
    <span class="events-grid-view__place font-base-regular"
      >Onine master-class</span
    >
    <a href="#" class="events-grid-view__link btn-outline-regular">View more</a>
  </li>
  <li class="events-grid-view__item">
    <div class="events-grid-view__date">
      <span class="events-grid-view__value h3">05 August</span>
      <span class="events-grid-view__hours font-base-regular"
        >11:00 – 14:00</span
      >
    </div>
    <span class="events-grid-view__title font-large-bold"
      >Formation of the organizational structure of the company in the face of
      uncertainty.</span
    >
    <span class="events-grid-view__place font-base-regular"
      >Onine master-class</span
    >
    <a href="#" class="events-grid-view__link btn-outline-regular">View more</a>
  </li>
  <li class="events-grid-view__item">
    <div class="events-grid-view__date">
      <span class="events-grid-view__value h3">05 August</span>
      <span class="events-grid-view__hours font-base-regular"
        >11:00 – 14:00</span
      >
    </div>
    <span class="events-grid-view__title font-large-bold"
      >Formation of the organizational structure of the company in the face of
      uncertainty.</span
    >
    <span class="events-grid-view__place font-base-regular"
      >Onine master-class</span
    >
    <a href="#" class="events-grid-view__link btn-outline-regular">View more</a>
  </li>
  <li class="events-grid-view__item">
    <div class="events-grid-view__date">
      <span class="events-grid-view__value h3">05 August</span>
      <span class="events-grid-view__hours font-base-regular"
        >11:00 – 14:00</span
      >
    </div>
    <span class="events-grid-view__title font-large-bold"
      >Formation of the organizational structure of the company in the face of
      uncertainty.</span
    >
    <span class="events-grid-view__place font-base-regular"
      >Onine master-class</span
    >
    <a href="#" class="events-grid-view__link btn-outline-regular">View more</a>
  </li>
  <li class="events-grid-view__item">
    <div class="events-grid-view__date">
      <span class="events-grid-view__value h3">05 August</span>
      <span class="events-grid-view__hours font-base-regular"
        >11:00 – 14:00</span
      >
    </div>
    <span class="events-grid-view__title font-large-bold"
      >Formation of the organizational structure of the company in the face of
      uncertainty.</span
    >
    <span class="events-grid-view__place font-base-regular"
      >Onine master-class</span
    >
    <a href="#" class="events-grid-view__link btn-outline-regular">View more</a>
  </li>
</ul>
