<ul class="events-list-view__list">
  <li class="events-list-view__item">
    <div class="events-list-view__date">
      <span class="events-list-view__value display-4">05</span>
      <div class="events-list-view__time">
        <span class="events-list-view__month lead-bold">August</span>
        <span class="events-list-view__hours font-base-regular"
          >11:00 – 14:00</span
        >
      </div>
    </div>
    <div class="events-list-view__info">
      <span class="events-list-view__title lead-bold"
        >Formation of the organizational structure of the company in the face of
        uncertainty.</span
      >
      <span class="events-list-view__place font-base-regular"
        >Onine master-class</span
      >
    </div>
    <a href="#" class="events-list-view__link btn-outline-regular">View more</a>
  </li>
  <li class="events-list-view__item">
    <div class="events-list-view__date">
      <span class="events-list-view__value display-4">05</span>
      <div class="events-list-view__time">
        <span class="events-list-view__month lead-bold">August</span>
        <span class="events-list-view__hours font-base-regular"
          >11:00 – 14:00</span
        >
      </div>
    </div>
    <div class="events-list-view__info">
      <span class="events-list-view__title lead-bold"
        >Formation of the organizational structure of the company in the face of
        uncertainty.</span
      >
      <span class="events-list-view__place font-base-regular"
        >Onine master-class</span
      >
    </div>
    <a href="#" class="events-list-view__link btn-outline-regular">View more</a>
  </li>
  <li class="events-list-view__item">
    <div class="events-list-view__date">
      <span class="events-list-view__value display-4">05</span>
      <div class="events-list-view__time">
        <span class="events-list-view__month lead-bold">August</span>
        <span class="events-list-view__hours font-base-regular"
          >11:00 – 14:00</span
        >
      </div>
    </div>
    <div class="events-list-view__info">
      <span class="events-list-view__title lead-bold"
        >Formation of the organizational structure of the company in the face of
        uncertainty.</span
      >
      <span class="events-list-view__place font-base-regular"
        >Onine master-class</span
      >
    </div>
    <a href="#" class="events-list-view__link btn-outline-regular">View more</a>
  </li>
  <li class="events-list-view__item">
    <div class="events-list-view__date">
      <span class="events-list-view__value display-4">05</span>
      <div class="events-list-view__time">
        <span class="events-list-view__month lead-bold">August</span>
        <span class="events-list-view__hours font-base-regular"
          >11:00 – 14:00</span
        >
      </div>
    </div>
    <div class="events-list-view__info">
      <span class="events-list-view__title lead-bold"
        >Formation of the organizational structure of the company in the face of
        uncertainty.</span
      >
      <span class="events-list-view__place font-base-regular"
        >Onine master-class</span
      >
    </div>
    <a href="#" class="events-list-view__link btn-outline-regular">View more</a>
  </li>
  <li class="events-list-view__item">
    <div class="events-list-view__date">
      <span class="events-list-view__value display-4">05</span>
      <div class="events-list-view__time">
        <span class="events-list-view__month lead-bold">August</span>
        <span class="events-list-view__hours font-base-regular"
          >11:00 – 14:00</span
        >
      </div>
    </div>
    <div class="events-list-view__info">
      <span class="events-list-view__title lead-bold"
        >Formation of the organizational structure of the company in the face of
        uncertainty.</span
      >
      <span class="events-list-view__place font-base-regular"
        >Onine master-class</span
      >
    </div>
    <a href="#" class="events-list-view__link btn-outline-regular">View more</a>
  </li>
  <li class="events-list-view__item">
    <div class="events-list-view__date">
      <span class="events-list-view__value display-4">05</span>
      <div class="events-list-view__time">
        <span class="events-list-view__month lead-bold">August</span>
        <span class="events-list-view__hours font-base-regular"
          >11:00 – 14:00</span
        >
      </div>
    </div>
    <div class="events-list-view__info">
      <span class="events-list-view__title lead-bold"
        >Formation of the organizational structure of the company in the face of
        uncertainty.</span
      >
      <span class="events-list-view__place font-base-regular"
        >Onine master-class</span
      >
    </div>
    <a href="#" class="events-list-view__link btn-outline-regular">View more</a>
  </li>
  <li class="events-list-view__item">
    <div class="events-list-view__date">
      <span class="events-list-view__value display-4">05</span>
      <div class="events-list-view__time">
        <span class="events-list-view__month lead-bold">August</span>
        <span class="events-list-view__hours font-base-regular"
          >11:00 – 14:00</span
        >
      </div>
    </div>
    <div class="events-list-view__info">
      <span class="events-list-view__title lead-bold"
        >Formation of the organizational structure of the company in the face of
        uncertainty.</span
      >
      <span class="events-list-view__place font-base-regular"
        >Onine master-class</span
      >
    </div>
    <a href="#" class="events-list-view__link btn-outline-regular">View more</a>
  </li>
  <li class="events-list-view__item">
    <div class="events-list-view__date">
      <span class="events-list-view__value display-4">05</span>
      <div class="events-list-view__time">
        <span class="events-list-view__month lead-bold">August</span>
        <span class="events-list-view__hours font-base-regular"
          >11:00 – 14:00</span
        >
      </div>
    </div>
    <div class="events-list-view__info">
      <span class="events-list-view__title lead-bold"
        >Formation of the organizational structure of the company in the face of
        uncertainty.</span
      >
      <span class="events-list-view__place font-base-regular"
        >Onine master-class</span
      >
    </div>
    <a href="#" class="events-list-view__link btn-outline-regular">View more</a>
  </li>
  <li class="events-list-view__item">
    <div class="events-list-view__date">
      <span class="events-list-view__value display-4">05</span>
      <div class="events-list-view__time">
        <span class="events-list-view__month lead-bold">August</span>
        <span class="events-list-view__hours font-base-regular"
          >11:00 – 14:00</span
        >
      </div>
    </div>
    <div class="events-list-view__info">
      <span class="events-list-view__title lead-bold"
        >Formation of the organizational structure of the company in the face of
        uncertainty.</span
      >
      <span class="events-list-view__place font-base-regular"
        >Onine master-class</span
      >
    </div>
    <a href="#" class="events-list-view__link btn-outline-regular">View more</a>
  </li>
</ul>
