.btn-solid-large {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-family: inherit;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 700;
  transition: all 0.3s ease;
  width: 179px;
  height: 52px;
  background: linear-gradient(90deg, #ff3f3a 0%, #f75e05 100%);
  color: var(--white-color);
}

.btn-solid-large:hover {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.btn-outline-large {
  width: 179px;
  height: 52px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-family: inherit;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 700;
  transition: all 0.3s ease;
  outline: 1px solid var(--text-color-gradient);
  outline-offset: -1px;
  background: transparent;
  color: var(--text-color-gradient);
}

.btn-outline-large:hover {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.btn-solid-regular {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-family: inherit;
  font-size: 14px;
  line-height: 44px;
  letter-spacing: 0.5;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 700;
  transition: all 0.3s ease;
  width: 166px;
  height: 44px;
  background: linear-gradient(90deg, #ff3f3a 0%, #f75e05 100%);
  color: var(--white-color);
}

.badge-btn {
  padding: 1px 8px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-family: inherit;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0%;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease;
  color: var(--white-color);
}

.btn-outline-regular {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 44px;
  width: 136px;
  font-family: inherit;
  border-radius: 4px;
  outline: 1px solid var(--primary-color);
  outline-offset: -1px;
  font-weight: 700;
  font-size: 14px;
  line-height: 44px;
  letter-spacing: 0.5px;
  background: transparent;
  transition: all 0.3s ease;
  color: var(--primary-color);
}

.btn-outline-regular:hover {
  background: linear-gradient(90deg, #ff3f3a 0%, #f75e05 100%);
  color: var(--white-color);
}

.btn-solid-regular:hover {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
