<section class="courses">
  <div class="courses__wrapper container">
    <div class="courses__header">
      <div class="courses__header-text">
        <p class="courses__suptitle h6">Ready to learn?</p>
        <h2 class="courses__title h1">Featured Courses</h2>
      </div>
      <a class="courses__link btn-outline-large" href="#">View all courses</a>
    </div>

    <ul class="courses__list">
      <li class="courses__item">
        <article class="course-card">
          <img
            class="course-card__image"
            src="img/home-page/marketing-boy-image.png"
            alt="The Ultimate Google Ads Training"
          />
          <div class="course-card__content">
            <span class="course-card__badge badge-btn badge-success"
              >Marketing</span
            >
            <h3 class="course-card__name lead-bold">
              The Ultimate Google Ads Training Course
            </h3>
            <div class="course-card__footer">
              <span class="course-card__price">$100</span>
              <span class="course-card__author font-large-regular "> | by Jerome Bell</span>
            </div>
          </div>
        </article>
      </li>
      <li class="courses__item">
        <article class="course-card">
          <img
            class="course-card__image"
            src="img/home-page/management-boy-image.png"
            alt="The Ultimate Google Ads Training"
          />
          <div class="course-card__content">
            <span class="course-card__badge badge-btn badge-info"
              >Management</span
            >
            <h3 class="course-card__name lead-bold">
              Product Management Fundamentals
            </h3>
            <div class="course-card__footer">
              <span class="course-card__price">$480</span>
              <span class="course-card__author font-large-regular">
                | by Marvin McKinney</span
              >
            </div>
          </div>
        </article>
      </li>
      <li class="courses__item">
        <article class="course-card">
          <img
            class="course-card__image"
            src="img/home-page/hr-image.png"
            alt="The Ultimate Google Ads Training"
          />
          <div class="course-card__content">
            <span class="course-card__badge badge-btn badge-warning"
              >HR & Recruting</span
            >
            <h3 class="course-card__name lead-bold">
              HR Management and Analytics
            </h3>
            <div class="course-card__footer">
              <span class="course-card__price">$200</span>
              <span class="course-card__author font-large-regular">
                | by Leslie Alexander Li</span
              >
            </div>
          </div>
        </article>
      </li>
      <li class="courses__item">
        <article class="course-card">
          <img
            class="course-card__image"
            src="img/home-page/marketing-girl-image.png"
            alt="The Ultimate Google Ads Training"
          />
          <div class="course-card__content">
            <span class="course-card__badge badge-btn badge-success"
              >Marketing</span
            >
            <h3 class="course-card__name lead-bold">
              Brand Management & PR Communications
            </h3>
            <div class="course-card__footer">
              <span class="course-card__price">$530</span>
              <span class="course-card__author font-large-regular">
                | by Kristin Watson</span
              >
            </div>
          </div>
        </article>
      </li>
      <li class="courses__item">
        <article class="course-card">
          <img
            class="course-card__image"
            src="img/home-page/management-girl-image.png"
            alt="The Ultimate Google Ads Training"
          />
          <div class="course-card__content lead-bold">
            <span class="course-card__badge badge-btn badge-info"
              >Management</span
            >
            <h3 class="course-card__name">Business Development Management</h3>
            <div class="course-card__footer">
              <span class="course-card__price">$400</span>
              <span class="course-card__author font-large-regular">
                | by Dianne Russell</span
              >
            </div>
          </div>
        </article>
      </li>

      <li class="courses__item">
        <article class="course-card">
          <img
            class="course-card__image"
            src="img/home-page/design-image.png"
            alt="The Ultimate Google Ads Training"
          />
          <div class="course-card__content lead-bold">
            <span class="course-card__badge badge-btn badge-danger"
              >Design</span
            >
            <h3 class="course-card__name">Graphic Design Basic</h3>
            <div class="course-card__footer">
              <span class="course-card__price">$500</span>
              <span class="course-card__author font-large-regular">
                | by Guy Hawkins</span
              >
            </div>
          </div>
        </article>
      </li>
    </ul>
  </div>
</section>
