<section class="about">
  <div class="container">
    <div class="about__inner">
      <div class="about__image-wrapper">
        <img
          class="about__image"
          src="img/home-page/about-img.png"
          alt="Student learning online"
        />
      </div>
      <div class="about__content">
        <div class="about__sm-title h6">Who we are</div>
        <h2 class="about__bg-title h1">Why Createx?</h2>
        <ul class="about__list">
          <li class="about__item">
            <img src="img/componets/check.svg" alt="check" />
            <p class="about__item-text font-base-regular">
              A fermentum in morbi pretium aliquam adipiscing donec tempus.
            </p>
          </li>
          <li class="about__item">
            <img src="img/componets/check.svg" alt="check" />
            <p class="about__item-text font-base-regular">
              Vulputate placerat amet pulvinar lorem nisl.
            </p>
          </li>
          <li class="about__item">
            <img
              class="about__item-check"
              src="img/componets/check.svg"
              alt="check"
            />
            <p class="about__item-text font-base-regular">
              Consequat feugiat habitant gravida quisque elit bibendum id
              adipiscing sed.
            </p>
          </li>
          <li class="about__item">
            <img
              class="about__item-check"
              src="img/componets/check.svg"
              alt="check"
            />
            <p class="about__item-text font-base-regular">
              Etiam duis lobortis in fames ultrices commodo nibh.
            </p>
          </li>
          <li class="about__item">
            <img
              class="about__item-check"
              src="img/componets/check.svg"
              alt="check"
            />
            <p class="about__item-text font-base-regular">
              Tincidunt sagittis neque sem ac eget.
            </p>
          </li>
          <li class="about__item">
            <img
              class="about__item-check"
              src="img/componets/check.svg"
              alt="check"
            />
            <p class="about__item-text font-base-regular">
              Ultricies amet justo et eget quisque purus vulputate dapibus
              tortor.
            </p>
          </li>
        </ul>
        <a class="about__button btn-solid-regular">More about us</a>
      </div>
    </div>
  </div>
</section>
