<section class="header-hero">
  <div class="container">
    <div class="header-hero__inner">
      <div class="header-hero__actions">
        <div class="header-hero__btn">
          <img
            class="header-hero__actions-btn-play-hover"
            src="../../img/componets/play-btn/small-hover.svg"
            alt="Play button"
          />
          <p class="header-hero__actions-btn-text font-small-bold">
            Play showreel
          </p>
        </div>
        <h1 class="header-hero__title font-display-2">
          Enjoy studying with Createx Online Courses
        </h1>
        <div class="header-hero__links">
          <a href="#" class="header-hero__about-us btn-outline-large"
            >About us</a
          >
          <a href="#" class="header-hero__explorer btn-large"
            >Explore courses</a
          >
        </div>
      </div>
      <img
        class="header-hero__img"
        src="../../img/home-page/header-hero-img.svg"
        alt="Play button"
      />
    </div>
    <div class="header-hero__stats stats">
      <ul class="stats__list">
        <li class="stats__item">
          <span class="stats__value h1">1200</span>
          <span class="stats__label font-base-regular">Students graduated</span>
          <svg
            class="header-hero__circle"
            width="8"
            height="8"
            viewBox="0 0 8 8"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <circle cx="4" cy="4" r="4" fill="#FF3F3A" />
          </svg>
        </li>
        <li class="stats__item">
          <span class="stats__value h1">84</span>
          <span class="stats__label font-base-regular">Completed courses</span>
          <svg
            class="header-hero__circle"
            width="8"
            height="8"
            viewBox="0 0 8 8"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <circle cx="4" cy="4" r="4" fill="#FF3F3A" />
          </svg>
        </li>
        <li class="stats__item">
          <span class="stats__value h1">16</span>
          <span class="stats__label font-base-regular">Qualified tutors</span>
          <svg
            class="header-hero__circle"
            width="8"
            height="8"
            viewBox="0 0 8 8"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <circle cx="4" cy="4" r="4" fill="#FF3F3A" />
          </svg>
        </li>
        <li class="stats__item">
          <span class="stats__value h1">5</span>
          <span class="stats__label font-base-regular"
            >Years of experience</span
          >
        </li>
      </ul>
    </div>
  </div>
</section>
