<section class="certificate">
  <div class="certificate__container container">
    <div class="certificate__content">
      <p class="certificate__subtitle h6">Createx Certificate</p>
      <h2 class="certificate__title h1">Your expertise will be confirmed</h2>
      <p class="certificate__description font-base-regual">
        We are accredited by international professional organizations and
        institutes:
      </p>
      <div class="certificate__partners">
        <img
          src="img/home-page/mister-strategy.png"
          alt="Del Mar Strategy"
          class="certificate__partner-logo"
        />
        <img
          src="img/home-page/sentinal.png"
          alt="Sentinal Consulting"
          class="certificate__partner-logo"
        />
        <img
          src="img/home-page/national.png"
          alt="National"
          class="certificate__partner-logo"
        />
      </div>
    </div>

    <div class="certificate__image-wrapper">
      <img
        src="img/home-page/certificate.png"
        alt="Certificate example"
        class="certificate__image"
      />
    </div>
  </div>
</section>
